
@{
    ViewBag.Title = "Delete";
}


<h2>Вы уверены, что хотите удалить свой аккаунт?</h2>
<form method="post">
    <table>
        <tr>
            <td>
                <input type="submit" value="Да" />
            </td>
        </tr>
    </table>
</form>
